// GSTT XNAT Anonymisation/De-identification Site Wide Script
// Copyright (c) 2023, Guys and St Thomas NHS Trust (GSTT)
// All Rights Reserved
// This script was written in September 2023 to suit the needs of GSTT and conforms to the DICOM Supplement 142
// It aims to apply DICOM tag removal, anonymisation, etc. site-wide i.e., applicable to all GSTT XNAT projects
// The manufacturer-specific DICOM data is not altered by this script
// For further reference, please see https://wiki.xnat.org/xnat-tools/dicomedit and https://bitbucket.org/xnatdcm/dicom-edit6/src/master/src/main/resources/dicomedit.script.example

// TAGS TO BE REMOVED
-(0032,4000) // Removes Study Comments, which is sometimes verbose
-(0033,1004) // Removes Further Study Comments, which is sometimes verbose
-(0033,100E) // Removes Extra Comments, which is sometimes verbose
-(0033,1013) // Removes Extra Name
-(0018,0022) // Removes Procedure Option, which is sometimes verbose
-(0040,0354) // Removes Procedure Description, which is sometimes verbose